<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MTP_BaseOptions</key>
	<dict>
		<key>GAH_MapScales</key>
		<dict>
			<key>14</key>
			<integer>12</integer>
			<key>33</key>
			<string>12</string>
		</dict>
	</dict>
	<key>MTP_BeaconOptions</key>
	<dict>
		<key>MTP_GimbalAPIKey</key>
		<string>e21ae80d-d88b-45b4-be4c-6aca7cf0157c</string>
		<key>MTP_GimbalAPIKey_Enterprise</key>
		<string>8353fb35-87bb-4e3a-93a6-384dfe259f6b</string>
		<key>relevantBeaconCount</key>
		<integer>4</integer>
		<key>defaultNilRSSI</key>
		<integer>-1000</integer>
	</dict>
	<key>MTP_NetworkOptions</key>
	<dict>
		<key>MTP_EventBaseHTTPURL</key>
		<string>http://maps.meetingplay.com</string>
		<key>MTP_EventBaseAPIURL</key>
		<string>http://mapsapi.meetingplay.com</string>
		<key>MTP_URLRequestDefaultTimeoutInterval</key>
		<integer>30</integer>
		<key>MTP_XAuthToken</key>
		<string>Sm9lLCBkb24ndCByZWJvb3QgdGhlIHNlcnZlciE=</string>
	</dict>
	<key>name_preference</key>
	<string>MeetingPlay</string>
	<key>loginPasswordRequired</key>
	<false/>
	<key>MTP_QuickLinksItems</key>
	<array>
		<dict>
			<key>title</key>
			<string>agenda</string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<array>
				<dict>
					<key>pageTitle</key>
					<string></string>
					<key>contentType</key>
					<string>MTPDisplayStyleWebView</string>
					<key>pageHeaderText</key>
					<string>agenda</string>
					<key>pageSubtitleDescriptionText</key>
					<string>Below are all the sessions for this year’s
International Association Masters. 
Tap on any session to get more information about it.</string>
					<key>pageHeaderBackgroundImage</key>
					<string>menuHeaderBackground</string>
					<key>pageContentBackgroundImage</key>
					<string>backgroundTexture</string>
					<key>webviewBaseURL</key>
					<string>http://mm15.meetingplay.com/agenda/?</string>
					<key>additionalData</key>
					<dict/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>photos</string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<array>
				<dict>
					<key>pageTitle</key>
					<string></string>
					<key>contentType</key>
					<string>MTPDisplayStyleWebView</string>
					<key>pageHeaderText</key>
					<string>photos</string>
					<key>pageSubtitleDescriptionText</key>
					<string>View photos uploaded by other attendees or upload your own photo by using the link in the side navigation</string>
					<key>pageHeaderBackgroundImage</key>
					<string>menuHeaderBackground</string>
					<key>pageContentBackgroundImage</key>
					<string>backgroundTexture</string>
					<key>webviewBaseURL</key>
					<string>http://mm15.meetingplay.com/photo-gallery/?</string>
					<key>additionalData</key>
					<dict/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>conversation</string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<array>
				<dict>
					<key>pageTitle</key>
					<string></string>
					<key>contentType</key>
					<string>MTPDisplayStyleWebView</string>
					<key>pageHeaderText</key>
					<string>conversation wall</string>
					<key>pageSubtitleDescriptionText</key>
					<string>Start or continue a conversation by leaving a comment on our conversation wall!</string>
					<key>pageHeaderBackgroundImage</key>
					<string>menuHeaderBackground</string>
					<key>pageContentBackgroundImage</key>
					<string>backgroundTexture</string>
					<key>webviewBaseURL</key>
					<string>http://mm15.meetingplay.com/conversation-wall/?</string>
					<key>additionalData</key>
					<dict/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>people near me</string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<array>
				<dict>
					<key>pageTitle</key>
					<string></string>
					<key>contentType</key>
					<string>MTPDisplayStyleUsersNearby</string>
					<key>pageHeaderText</key>
					<string>people near me</string>
					<key>pageSubtitleDescriptionText</key>
					<string>Scroll through and tap on any attendee around you to learn more about them and make a connection</string>
					<key>pageHeaderBackgroundImage</key>
					<string>menuHeaderBackground</string>
					<key>pageContentBackgroundImage</key>
					<string>backgroundTexture</string>
					<key>webviewBaseURL</key>
					<string></string>
					<key>additionalData</key>
					<dict/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>marketplace</string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<array>
				<dict>
					<key>pageTitle</key>
					<string></string>
					<key>contentType</key>
					<string>MTPDisplayStyleWebView</string>
					<key>pageHeaderText</key>
					<string>marketplace</string>
					<key>pageSubtitleDescriptionText</key>
					<string>Tap on a marketplace booth name to view more information. Visit marketplace booths to make a connection!</string>
					<key>pageHeaderBackgroundImage</key>
					<string>menuHeaderBackground</string>
					<key>pageContentBackgroundImage</key>
					<string>backgroundTexture</string>
					<key>webviewBaseURL</key>
					<string>http://mm15.meetingplay.com/marketplace/?</string>
					<key>additionalData</key>
					<dict/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>partners</string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<array>
				<dict>
					<key>pageTitle</key>
					<string></string>
					<key>contentType</key>
					<string>MTPDisplayStyleWebView</string>
					<key>pageHeaderText</key>
					<string>Partners</string>
					<key>pageSubtitleDescriptionText</key>
					<string>A special thanks to all of our partners</string>
					<key>pageHeaderBackgroundImage</key>
					<string>menuHeaderBackground</string>
					<key>pageContentBackgroundImage</key>
					<string>backgroundTexture</string>
					<key>webviewBaseURL</key>
					<string>http://mm15.meetingplay.com/sponsor-list/?</string>
					<key>additionalData</key>
					<dict/>
				</dict>
			</array>
		</dict>
	</array>
	<key>MTP_MainMenuOptions</key>
	<dict>
		<key>MTP_MainMenuHeader</key>
		<dict>
			<key>image</key>
			<string>menuHeaderBackground</string>
			<key>color</key>
			<string></string>
			<key>headerFontName</key>
			<string>RobotoCondensed-Bold</string>
			<key>headerFontSize</key>
			<integer>15</integer>
			<key>headerFontDefaultSize</key>
			<integer>15</integer>
			<key>headerSubtitleFontName</key>
			<string>Roboto-LightItalic</string>
			<key>headerSubtitleFontSize</key>
			<integer>14</integer>
		</dict>
		<key>MTP_MainMenuFontDescription</key>
		<dict>
			<key>defaultFontSize</key>
			<integer>12</integer>
			<key>defaultFontName</key>
			<string>MyriadPro</string>
			<key>defaultFontColor</key>
			<string>000000</string>
			<key>fontName</key>
			<string>MyriadPro-Regular</string>
			<key>fontSize</key>
			<integer>12</integer>
			<key>fontTextShadowAlpha</key>
			<real>0.1</real>
			<key>fontColor</key>
			<string></string>
			<key>iconFontSize</key>
			<integer>25</integer>
			<key>defaultIconFontSize</key>
			<integer>15</integer>
		</dict>
		<key>MTP_MainMenuSectionFontDescription</key>
		<dict>
			<key>defaultFontSize</key>
			<integer>12</integer>
			<key>defaultFontName</key>
			<string>Roboto-Regular</string>
			<key>defaultFontColor</key>
			<string>000000</string>
			<key>fontName</key>
			<string>RobotoCondensed-Bold</string>
			<key>fontSize</key>
			<integer>12</integer>
			<key>fontTextShadowAlpha</key>
			<integer>0</integer>
			<key>fontColor</key>
			<string>ffffff</string>
		</dict>
		<key>MTP_MainMenuItems</key>
		<array>
			<dict>
				<key>navigation</key>
				<array>
					<dict>
						<key>title</key>
						<string>Navigate Our Resort</string>
						<key>subtitle</key>
						<string></string>
						<key>itemDescription</key>
						<string></string>
						<key>imageURL</key>
						<string></string>
						<key>icon</key>
						<dict>
							<key>iconURL</key>
							<string></string>
							<key>fontAwesomeCode</key>
							<string></string>
							<key>resourceName</key>
							<string>iconMap</string>
						</dict>
						<key>link</key>
						<string></string>
						<key>category</key>
						<string></string>
						<key>navigationType</key>
						<integer>0</integer>
						<key>selectedTabBarIndex</key>
						<integer>0</integer>
						<key>additionalData</key>
						<array>
							<dict>
								<key>pageTitle</key>
								<string>Navigate Our Resort</string>
								<key>contentType</key>
								<string>MTPDisplayStyleExplore</string>
								<key>pageHeaderText</key>
								<string></string>
								<key>pageSubtitleDescriptionText</key>
								<string></string>
								<key>pageHeaderBackgroundImage</key>
								<string>menuHeaderBackground</string>
								<key>pageContentBackgroundImage</key>
								<string>backgroundTexture</string>
								<key>webviewBaseURL</key>
								<string></string>
								<key>additionalData</key>
								<dict/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>Near Me</string>
						<key>subtitle</key>
						<string></string>
						<key>itemDescription</key>
						<string></string>
						<key>imageURL</key>
						<string></string>
						<key>icon</key>
						<dict>
							<key>iconURL</key>
							<string></string>
							<key>fontAwesomeCode</key>
							<string></string>
							<key>resourceName</key>
							<string>iconMapPin</string>
						</dict>
						<key>link</key>
						<string></string>
						<key>category</key>
						<string></string>
						<key>navigationType</key>
						<integer>0</integer>
						<key>selectedTabBarIndex</key>
						<integer>0</integer>
						<key>additionalData</key>
						<array>
							<dict>
								<key>pageTitle</key>
								<string>Near Me</string>
								<key>contentType</key>
								<string>MTPDisplayStyleExplore</string>
								<key>pageHeaderText</key>
								<string></string>
								<key>pageSubtitleDescriptionText</key>
								<string></string>
								<key>pageHeaderBackgroundImage</key>
								<string>menuHeaderBackground</string>
								<key>pageContentBackgroundImage</key>
								<string>backgroundTexture</string>
								<key>webviewBaseURL</key>
								<string></string>
								<key>additionalData</key>
								<dict/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>Get Social!</string>
						<key>subtitle</key>
						<string></string>
						<key>itemDescription</key>
						<string></string>
						<key>imageURL</key>
						<string></string>
						<key>icon</key>
						<dict>
							<key>iconURL</key>
							<string></string>
							<key>fontAwesomeCode</key>
							<string></string>
							<key>resourceName</key>
							<string>iconThumbs</string>
						</dict>
						<key>link</key>
						<string></string>
						<key>category</key>
						<string></string>
						<key>navigationType</key>
						<integer>0</integer>
						<key>selectedTabBarIndex</key>
						<integer>0</integer>
						<key>additionalData</key>
						<array>
							<dict>
								<key>pageTitle</key>
								<string>Get Social!</string>
								<key>contentType</key>
								<string>MTPDisplayStyleWebView</string>
								<key>pageHeaderText</key>
								<string></string>
								<key>pageSubtitleDescriptionText</key>
								<string></string>
								<key>pageHeaderBackgroundImage</key>
								<string>menuHeaderBackground</string>
								<key>pageContentBackgroundImage</key>
								<string>backgroundTexture</string>
								<key>webviewBaseURL</key>
								<string>http://maps.meetingplay.com/get-social/</string>
								<key>additionalData</key>
								<dict/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>Meetings and Events</string>
						<key>subtitle</key>
						<string></string>
						<key>itemDescription</key>
						<string></string>
						<key>imageURL</key>
						<string></string>
						<key>icon</key>
						<dict>
							<key>iconURL</key>
							<string></string>
							<key>fontAwesomeCode</key>
							<string></string>
							<key>resourceName</key>
							<string>iconCalendar</string>
						</dict>
						<key>link</key>
						<string></string>
						<key>category</key>
						<string></string>
						<key>navigationType</key>
						<integer>0</integer>
						<key>selectedTabBarIndex</key>
						<integer>0</integer>
						<key>additionalData</key>
						<array>
							<dict>
								<key>pageTitle</key>
								<string>Meetings and Events</string>
								<key>contentType</key>
								<string>MTPDisplayStyleEvents</string>
								<key>pageHeaderText</key>
								<string></string>
								<key>pageSubtitleDescriptionText</key>
								<string></string>
								<key>pageHeaderBackgroundImage</key>
								<string>menuHeaderBackground</string>
								<key>pageContentBackgroundImage</key>
								<string>backgroundTexture</string>
								<key>webviewBaseURL</key>
								<string></string>
								<key>additionalData</key>
								<dict/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>Notifications and Alerts</string>
						<key>subtitle</key>
						<string></string>
						<key>itemDescription</key>
						<string></string>
						<key>imageURL</key>
						<string></string>
						<key>icon</key>
						<dict>
							<key>iconURL</key>
							<string></string>
							<key>fontAwesomeCode</key>
							<string></string>
							<key>resourceName</key>
							<string>iconAlert</string>
						</dict>
						<key>link</key>
						<string></string>
						<key>category</key>
						<string></string>
						<key>navigationType</key>
						<integer>0</integer>
						<key>selectedTabBarIndex</key>
						<integer>0</integer>
						<key>additionalData</key>
						<array>
							<dict>
								<key>pageTitle</key>
								<string>Notifications and Alerts</string>
								<key>contentType</key>
								<string>MTPDisplayStyleNotifications</string>
								<key>pageHeaderText</key>
								<string></string>
								<key>pageSubtitleDescriptionText</key>
								<string></string>
								<key>pageHeaderBackgroundImage</key>
								<string>menuHeaderBackground</string>
								<key>pageContentBackgroundImage</key>
								<string>backgroundTexture</string>
								<key>webviewBaseURL</key>
								<string></string>
								<key>additionalData</key>
								<dict/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>General Information</string>
						<key>subtitle</key>
						<string></string>
						<key>itemDescription</key>
						<string></string>
						<key>imageURL</key>
						<string></string>
						<key>icon</key>
						<dict>
							<key>iconURL</key>
							<string></string>
							<key>fontAwesomeCode</key>
							<string></string>
							<key>resourceName</key>
							<string>iconInfo</string>
						</dict>
						<key>link</key>
						<string></string>
						<key>category</key>
						<string></string>
						<key>navigationType</key>
						<integer>0</integer>
						<key>selectedTabBarIndex</key>
						<integer>0</integer>
						<key>additionalData</key>
						<array>
							<dict>
								<key>pageTitle</key>
								<string>General Information</string>
								<key>contentType</key>
								<string>MTPDisplayStyleGeneralInformation</string>
								<key>pageHeaderText</key>
								<string></string>
								<key>pageSubtitleDescriptionText</key>
								<string></string>
								<key>pageHeaderBackgroundImage</key>
								<string>menuHeaderBackground</string>
								<key>pageContentBackgroundImage</key>
								<string>backgroundTexture</string>
								<key>webviewBaseURL</key>
								<string></string>
								<key>additionalData</key>
								<dict/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>User Settings</string>
						<key>subtitle</key>
						<string></string>
						<key>itemDescription</key>
						<string></string>
						<key>imageURL</key>
						<string></string>
						<key>icon</key>
						<dict>
							<key>iconURL</key>
							<string></string>
							<key>fontAwesomeCode</key>
							<string></string>
							<key>resourceName</key>
							<string>iconGears</string>
						</dict>
						<key>link</key>
						<string></string>
						<key>category</key>
						<string></string>
						<key>navigationType</key>
						<integer>0</integer>
						<key>selectedTabBarIndex</key>
						<integer>0</integer>
						<key>additionalData</key>
						<array>
							<dict>
								<key>pageTitle</key>
								<string>User Settings</string>
								<key>contentType</key>
								<string>MTPDisplayStyleUserSettings</string>
								<key>pageHeaderText</key>
								<string></string>
								<key>pageSubtitleDescriptionText</key>
								<string></string>
								<key>pageHeaderBackgroundImage</key>
								<string>menuHeaderBackground</string>
								<key>pageContentBackgroundImage</key>
								<string>backgroundTexture</string>
								<key>webviewBaseURL</key>
								<string></string>
								<key>additionalData</key>
								<dict/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>App Feedback</string>
						<key>subtitle</key>
						<string></string>
						<key>itemDescription</key>
						<string></string>
						<key>imageURL</key>
						<string></string>
						<key>icon</key>
						<dict>
							<key>iconURL</key>
							<string></string>
							<key>fontAwesomeCode</key>
							<string></string>
							<key>resourceName</key>
							<string>iconFeedback</string>
						</dict>
						<key>link</key>
						<string></string>
						<key>category</key>
						<string></string>
						<key>navigationType</key>
						<integer>0</integer>
						<key>selectedTabBarIndex</key>
						<integer>0</integer>
						<key>additionalData</key>
						<array>
							<dict>
								<key>pageTitle</key>
								<string>Get Social!</string>
								<key>contentType</key>
								<string>MTPDisplayStyleWebView</string>
								<key>pageHeaderText</key>
								<string></string>
								<key>pageSubtitleDescriptionText</key>
								<string></string>
								<key>pageHeaderBackgroundImage</key>
								<string>menuHeaderBackground</string>
								<key>pageContentBackgroundImage</key>
								<string>backgroundTexture</string>
								<key>webviewBaseURL</key>
								<string>http://maps.meetingplay.com/get-social/</string>
								<key>additionalData</key>
								<dict/>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>MTP_CustomFonts</key>
	<dict>
		<key>navigationBarFont</key>
		<string>MyriadPro-Bold</string>
	</dict>
	<key>MTP_SessionItem</key>
	<array>
		<dict>
			<key>title</key>
			<string>session</string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<array>
				<dict>
					<key>pageTitle</key>
					<string>Sessions</string>
					<key>contentType</key>
					<string>MTPDisplayStyleWebView</string>
					<key>pageHeaderText</key>
					<string>Session Details</string>
					<key>pageSubtitleDescriptionText</key>
					<string>See more information about the session below.</string>
					<key>pageHeaderBackgroundImage</key>
					<string>menuHeaderBackground</string>
					<key>pageContentBackgroundImage</key>
					<string>backgroundTexture</string>
					<key>webviewBaseURL</key>
					<string>http://mm15.meetingplay.com/agenda/?</string>
					<key>additionalData</key>
					<dict>
						<key>forceReload</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
	<key>MTP_PollItem</key>
	<array>
		<dict>
			<key>title</key>
			<string>poll</string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<array>
				<dict>
					<key>pageTitle</key>
					<string>polls</string>
					<key>contentType</key>
					<string>MTPDisplayStyleWebView</string>
					<key>pageHeaderText</key>
					<string>Quick Poll</string>
					<key>pageSubtitleDescriptionText</key>
					<string>Complete the poll below</string>
					<key>pageHeaderBackgroundImage</key>
					<string>menuHeaderBackground</string>
					<key>pageContentBackgroundImage</key>
					<string>backgroundTexture</string>
					<key>webviewBaseURL</key>
					<string>http://mm15.meetingplay.com/agenda/?</string>
					<key>additionalData</key>
					<dict>
						<key>forceReload</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
	<key>MTP_ProfileEditing</key>
	<array>
		<dict>
			<key>title</key>
			<string>edit profile</string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<array>
				<dict>
					<key>pageTitle</key>
					<string>edit profile</string>
					<key>contentType</key>
					<string>MTPDisplayStyleWebView</string>
					<key>pageHeaderText</key>
					<string>edit profile</string>
					<key>pageSubtitleDescriptionText</key>
					<string>Edit your personal information below.</string>
					<key>pageHeaderBackgroundImage</key>
					<string>menuHeaderBackground</string>
					<key>pageContentBackgroundImage</key>
					<string>backgroundTexture</string>
					<key>webviewBaseURL</key>
					<string>http://mm15.meetingplay.com/edit-profile/?</string>
					<key>additionalData</key>
					<dict/>
				</dict>
			</array>
		</dict>
	</array>
	<key>MTP_HomeScreen</key>
	<array>
		<dict>
			<key>title</key>
			<string>Home</string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<array>
				<dict>
					<key>pageTitle</key>
					<string>Home</string>
					<key>contentType</key>
					<string>MTPDisplayStyleNone</string>
					<key>pageHeaderText</key>
					<string></string>
					<key>pageSubtitleDescriptionText</key>
					<string></string>
					<key>pageHeaderBackgroundImage</key>
					<string>homeHeaderBackground</string>
					<key>pageContentBackgroundImage</key>
					<string>backgroundTexture</string>
					<key>webviewBaseURL</key>
					<string></string>
					<key>additionalData</key>
					<dict/>
				</dict>
			</array>
		</dict>
	</array>
	<key>MTP_LocationSearch</key>
	<array>
		<dict>
			<key>title</key>
			<string>Search</string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<array>
				<dict>
					<key>pageTitle</key>
					<string>Search</string>
					<key>contentType</key>
					<string>MTPDisplayStyleSearch</string>
					<key>pageHeaderText</key>
					<string></string>
					<key>pageSubtitleDescriptionText</key>
					<string></string>
					<key>pageHeaderBackgroundImage</key>
					<string>homeHeaderBackground</string>
					<key>pageContentBackgroundImage</key>
					<string>backgroundTexture</string>
					<key>webviewBaseURL</key>
					<string></string>
					<key>additionalData</key>
					<dict>
						<key>searchTerm</key>
						<string></string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
	<key>New item</key>
	<dict>
		<key>title</key>
		<string>Notifications and Alerts</string>
		<key>subtitle</key>
		<string></string>
		<key>itemDescription</key>
		<string></string>
		<key>imageURL</key>
		<string></string>
		<key>icon</key>
		<dict>
			<key>iconURL</key>
			<string></string>
			<key>fontAwesomeCode</key>
			<string></string>
			<key>resourceName</key>
			<string>iconAlert</string>
		</dict>
		<key>link</key>
		<string></string>
		<key>category</key>
		<string></string>
		<key>navigationType</key>
		<integer>0</integer>
		<key>selectedTabBarIndex</key>
		<integer>0</integer>
		<key>additionalData</key>
		<array>
			<dict>
				<key>pageTitle</key>
				<string>Notifications and Alerts</string>
				<key>contentType</key>
				<string>MTPDisplayStyleNotifications</string>
				<key>pageHeaderText</key>
				<string></string>
				<key>pageSubtitleDescriptionText</key>
				<string></string>
				<key>pageHeaderBackgroundImage</key>
				<string>menuHeaderBackground</string>
				<key>pageContentBackgroundImage</key>
				<string>backgroundTexture</string>
				<key>webviewBaseURL</key>
				<string></string>
				<key>additionalData</key>
				<dict/>
			</dict>
		</array>
	</dict>
</dict>
</plist>
