<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>relevantBeaconCount</key>
	<integer>4</integer>
	<key>defaultNilRSSI</key>
	<integer>-1000</integer>
	<key>name_preference</key>
	<string>MeetingPlay</string>
	<key>MTP_GimbalAPIKey</key>
	<string>3db66194-6e10-4f2f-abca-7b8df3731040</string>
	<key>XAuthToken</key>
	<string>Sm9lLCBkb24ndCByZWJvb3QgdGhlIHNlcnZlciE=</string>
	<key>loginPasswordRequired</key>
	<false/>
	<key>requestDefaultTimeoutInterval</key>
	<integer>30</integer>
	<key>MTP_MainMenuItems</key>
	<array>
		<dict>
			<key>title</key>
			<string></string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<dict/>
		</dict>
	</array>
	<key>MTP_QuickLinksItems</key>
	<array>
		<dict>
			<key>title</key>
			<string></string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
